@model IEnumerable<MedicalRecords.Models.Equipment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hospital.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hospital.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_e }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_e }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_e })
        </td>
    </tr>
}

</table>
