@model IEnumerable<MedicalRecords.Models.Medicine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnose.disease_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instruction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnose.disease_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_med }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_med }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_med })
        </td>
    </tr>
}

</table>
